// 공통적으로 사용될 CSS 스타일들

$blue: #1778b5;
$orange: #fd7e14;
$yellow: #ffc107;
$white: #fff;
$lightGrey: #adb5bd;
$grey: #6c757d;
$lightDark: #4e4e4e;
$darkGrey: #343a40;
$lightBackground: #f8f9fa;
$dark: #343a40;
$borderColor: rgb(226, 229, 232);

// 미디어 쿼리
@mixin breakpoint($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (min-width: 0px) and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "laptop" {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
